.lista-carrinho{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .linha-produtos{
    
    
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100%;
        max-width: 210px;
        justify-content: space-between;
        font-size: 8px;
        margin-top: 2px;
        margin-bottom: 2px;
        padding-top: 8px;
        padding-bottom: 8px;
        
    }

    #nomeProduto:hover{
        text-decoration: underline;
        cursor: pointer;
        font-weight: bold;
    }


    .linha-produtos:hover{

        border: 1px solid black;


    }

    .apagar{

        font-size: 9px;


    }

    .apagar:hover{


        cursor: pointer;


    }

}
