.lista-carrinho{

    display: flex;
    flex-direction: column;

    .linha-produtos{
    
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 8px;
        margin-top: 2px;
        margin-bottom: 2px;
        padding-top: 8px;
        padding-bottom: 8px;
        
    
    
    
    }


    .linha-produtos:hover{

        border: 1px solid black;


    }

    .apagar{

        font-size: 9px;


    }

    .apagar:hover{


        cursor: pointer;


    }

}
