.lista-carrinho{

    display: flex;
    flex-direction: column;


}

.linha-produtos{


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 8px;
    margin-top: 5px;
    margin-bottom: 5px;

}