.Main_Card2 {

    .Card {
        display: flex;
        flex-direction: column;
        background-color: aqua;
        border-radius: 15px;
        height: 550px;
        width: 400px;
        border: yellow solid 7px;

        header {
            display: flex;
        }

        .img {
            display: flex;
            justify-content: center;
            border: red solid;
            padding: 15px;

            img {
                background-color: aliceblue;
                width: 80%;
                object-fit: contain;
            }
        }

        .infos {
            padding: 15px;

            header {
                display: flex;
                font-size: 10px;
                margin-bottom: 10px;
                align-items: center;
                border: red solid;
                a {
                    margin-right: 35px;
                    background-color: blue;
                    padding: 5px;
                    border-radius:  10px 0 10px 0;
                }
                h4 {
                    color: red;
                    font-size: 12px;
                }
            }

            p {
                font-size: 10px;
            }
        }
    }
}