.ADM_usersConsulta {
    background-color: #081820;

    .s {
        display: flex;
        height: 100vh;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            width: 100%;

            h1 {
                color: #fff;
            }

            .searchBox {
                display: flex;
                align-items: center;
                margin: 10px 0 50px 0;
                border: aliceblue solid;
                border-radius: 50px;
                padding: 5px 15px;

                img {
                    width: 30px;
                }

                input {
                    padding: 8px;
                    width: 550px;
                    background-color: transparent;
                    border: none;
                    color: #fff;
                    outline: none;
                }
            }

            .Filters {
                display: flex;
                border: #CDF1B5 solid;
                color: #fff;
                margin-bottom: 55px;
                width: 90%;

                .Tipos {
                    display: flex;
                    border: #000 solid;
                    flex-direction: column;
                    height: 80px;
                    width: 50%;
                    max-width: 300%;
                    margin: 15px;

                    .options {
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 7px;
                        .option {
                            display: flex;
                            text-align: center;
                            border: #f7f8f6 solid;
                            background-color: transparent;
                            margin: 1px;
                            padding: 5px 15px;
                            border-radius: 15px;
                            max-width: 300px;

                        }
                        #SelectedOption{
                            border: #f7f8f6 solid;
                            background-color: rgb(0, 255, 128);
                        }
                    }
                }
            }

            table {
                border-collapse: separate;
                border-spacing: 0px;
                border: #CDF1B5 solid 1px;
                width: 76%;

            }

            td,
            th {
                text-align: center;
                padding: 10px 10px;
                border: #CDF1B5 solid 1px;
                color: aliceblue;
                letter-spacing: 0.5px;
                font-size: 8px;
            }

            tr:hover i,
            button {
                display: flex;
                flex-direction: row;
            }






        }
    }
}