.mainCad {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0A1A2F;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    justify-content: center;

    h1 {
        color: #CDF1B5;
        margin-top: -50px;
        
    }


    .inputs{
        display: flex;
        flex-direction: column;
        height: 450px;
        margin-left: 0vh;
        div{
            display: flex;
            margin: 30px 50px;
            color: white;

         

            span {
                display: flex;
                margin-left: -20vh;
                p{
                    font-size: 13px;
                    margin-left: 20vh;
                    color: white;
                }
                input{
                    border:solid 3px #40985E;
                    background-color: #1c4124;
                    width: 35vh;
                    height: 35px;
                    margin:20px -20vh  ;
                    color: white;
                }
            }
            .prt-2{
                .sobre{
                    font-size: 13px;
                    margin-left: 100px;
                }
                .put-2{
                    border:solid 3px #40985E;
                    background-color: #1c4124;
                    width: 40vh;
                    height: 35px;
                    margin:20px -10px  ;
                    color: white;
                }
            }
        }
        









            
        
    }




    button {
        background-color: #429B56;
        box-shadow: 0 0 0 6px #429b5579;
        border: none;
        padding: 12px 50px;
        font: 12px 'flipFont';
        letter-spacing: 1px;
        cursor: pointer;
        margin-top: 70px;
    }

    .imgs {
        img {
            width: 150px;

            &:hover {
                animation: shake linear infinite 0.4s;
            }
        }

        #pote {
            position: absolute;
            top: 670px;
            left: 100px;
        }

        #fogo {
            position: absolute;
            top: 770px;
            right: 50px;

        }

        #flor {
            position: absolute;
            top: 180px;
            left: 50px;
        }

        #cruz {
            width: 200px;
            position: absolute;
            top: 370px;
            left: -20px;
        }

        #luckyBox {
            position: absolute;
            top: 140px;
            right: 30px;
        }

        @keyframes shake {

            0% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(3deg);
            }

            50% {
                transform: rotate(0deg);
            }

            75% {
                transform: rotate(-3deg);
            }

            100% {
                transform: rotate(0deg);
            }

        }
    }

}