.cart-status{
    display: flex;
    align-items: center;
    justify-content: center;
    span{

        font-size: 9px;
        position: absolute;
        top: 8px;
        right: 94px;
        border-radius: 20px;
        padding: 4px;
        color: white;
    }
}