.container_sobrenos {
    background-color: #081820;
    font-size: 18px;
    color: white;
    padding: 150px 50px;
    width: 30vh;
    

    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        background-color: #122833;
        border-radius: 15px;
        padding: 80px;
        margin-left: -20vh;
        height: 900px;
        width: 20vh;

        .descricao {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-right: 20px;
            line-height: 25px;
            gap: 35px;
            font-weight: 100;
            padding: 50px;
            width: 150px;
        }

        .container_perfil {
            display: flex;
            align-items: end;
            justify-content: end;
            flex-direction: column;
            max-width: 60vh;
            

            .sw{
                .swiper {
                    width: 100%;
                    height: 90%;
                  }
                  .swiper-button-prev{
                    color: rgb(32, 218, 88);
                    font-weight: 1000;
                    opacity: 1;
                }
                .swiper-button-next{
                    color: rgb(32, 218, 88);
                    font-weight: 1000;
                    opacity: 1;
                }
                  .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                  
            }
            .conteudo_perfil {
                align-items: center;
                justify-content: end;
                width: 400px;

                div {
                    margin-left: 20px;

                    #C {
                        margin-left: 300px;
                        margin-right: 100px;
                    }
                }
            }

            h2 {
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: 1920px) {
    .container_sobrenos {
        width: 131.6vh;
        .conteudo {
            display: flex;
            flex-direction: row;
            margin: -130px -7px;
            width: 123vh;
            

            .descricao {
                font-size: 15px;
                width: 40vh;
            }
        }
    }
}

@media (max-width: 768px) {
    .container_sobrenos {
        width: 68vh;
        .conteudo {
            display: flex;
            flex-direction: column;
            margin: -130px -20px;
            width:61vh;

            .descricao {
                font-size: 15px;
                width: 56vh;
                padding-left: 8vh;
                margin-top: 0vh;
            }
        }
    }
}



@media (max-width: 414px) {
    .container_sobrenos {
        width: 37.6vh;
        .conteudo {
            width: 31vh;
            flex-direction: column;
            margin: -130px -22px;

            .descricao {
                font-size: 10px;
                width: 35vh;
                margin: 20px 20px;
            }

            .container_perfil{
                .sw{
                    margin-top: -70px;
                }
            }
        }
    }
}