.container_sobrenos{
    background-color: #081820;
    font-size: 18px;
    color: white;
    padding: 150px 50px;

    .conteudo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        background-color: #122833;
        border-radius: 15px;
        padding: 80px;
        .descricao{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            line-height: 20px;
            gap: 35px; 
            width: 40%;
            font-weight: 100;
        }
        .container_perfil{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            max-width: 60vh;
            width: 100%;
            
            .perfil{
            
                .conteudo_perfil{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    background-color: #6E95F9;
                    border-radius: 15px;
                    padding: 25px 20px;

                    #corvo{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        padding-right: 90px;
                        p{
                            margin-top: 10px;
                            font-size: 24px;
                        }
                        
                        img{
                            width: 135px;
                            position: relative;
                            right: 70px;
                            bottom: 80px;

                            border: 4px solid black;
                            border-radius: 100px; 
                        }
                    }
                    .dados_integrantes{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        
                        font-size:  18px;
                        .cargo{
                            display: flex;
                            flex-direction: column;

                            gap: 12px;
                            width: 100%;
                            padding: 5px 0px;
                            div{
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                h5{
                                    font-size: 16px;
                                    font-weight: 100;
                                }
                                p{
                                    width: 100%;
                                    background-color: #A2CBF1;
                                    padding: 10px;
                                    font-size: 15px;
                                }
                            }
                        }
                        .memorias{
                            display: flex;
                            flex-direction: column;
                            

                           p{
                            font-size: 10px;
                            padding: 10px 0px;
                           } 
                            div{
                                padding: 40px;
                                background-color: #A2CBF1;
                                font-size: 14px;
                            }

                        }
                    }
                }
            }
        }
        
    }

}


@media (min-width: 414px) {
    .container_sobrenos{
        .conteudo{
            display:flex;
            flex-direction: column;
            margin-top: -50px;
            .descricao{
            font-size: 8.5px;
            width: 30vh;
            }
            .container_perfil{
                .perfil{
                    .conteudo_perfil{
                        width: 35vh;
                        margin-top: 100px;
                        #corvo{
                            padding-right: 38vh;
                            img{
                                margin-left: 50vh;
                                width: 110px;
                                height: 110px;
                            }
                            p{
                                padding-top: 30px;
                                margin-left: -25vh;
                            }
                        }
                        .dados_integrantes{
                            .cargo{
                                div{
                                    h5{
                                        font-size: 13px;
                                    }
                                    p{
                                        font-size: 8.5px; 
                                    }
                                }
                            }
                            .memorias{
                                p{
                                    font-size: 9.3px;
                                }
                                div{
                                    
                                    p{
                                        font-size: 8.5px;
                                        width: 20vh;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}