.escurecer-fundo {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;

}

.searchResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 400px;
    padding: 50px 0 0px 0;
    border: red solid;
}

.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #081820;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;


    .Logo {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            margin-right: 10px;
        }

        color: aliceblue;


        h1 {
            margin-top: 5px;
        }
    }

    .SearchBox {
        display: flex;
        flex-direction: column;
        width: 45%;

        .boxInput {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            padding: 4px 10px 4px 10px;
            border: #000 solid;
            width: 100%;

            input {
                width: 100%;
                border: none;
                outline: none;
            }
        }


        .filtro:hover {

            cursor: pointer;


        }
    }

    .Options {
        display: flex;
        flex-direction: row;
        
        img {
            margin: 5px;

        }
    }
}

.Options>img:hover {

    cursor: pointer;

}

@media (max-width: 1280px) {
    .Nav {
        .Options {
            width: 15vh;
            padding-left: 1vh;
            #menu{
                display: none;
                
            }
            img {
                display: flex;
                margin-left: -0vh;
               
            }
            
        }
    }
}




@media (max-width: 768px) {
    .Nav {
        width: 81.9vh;
        padding-left: 10vh;
        .Logo {
            display: none;
            .h3 {
                .h1 {
                    font-size: 1px;
                }
            }
        }
        .SearchBox{
            display: flex;
            padding-left: 5vh;
            .boxInput{
                width: 40vh;
                margin-left: 7vh;
            }
        }
        .Options {
            width: 30vh;
            padding-left: 7vh;
            #menu{
                display: flex;
                margin-left: 16vh;
            }
            img {
                display: none;
            }
            
        }
    }
}



@media (max-width: 414px) {
    .Nav {
        width: 96%;
        padding-right: 25vh;
        .Logo {
            display: none;
            margin-left: -80px ;
            padding: 0px 10px 0px 0px;
            .h3 {
                .h1 {
                    font-size: 1px;
                }
            }
        }
        .SearchBox{
            margin-left: 10px;
            padding-left: 0px;
            display: flex;
            width: 20vh;
            .boxInput{
                width: 30vh;
                margin-left: -50px;
            }
        }
        .Options {
            padding: 0px;
            margin-left: 50px;
            #menu{
                display: flex;
                margin-left: 30px;
            }
            img{
                display: none;
            }
            width: 30vh;
        }
    }
}