.card{

    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;

    p{

        font-family: 'flipFont';
        font-size: 20px;


    }



}

#cinza-pequeno{

    color:rgba(0, 0, 0, 0.76);
    font-size: 10px;




}

.desc-info{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 5px;



}

.ponto{


    margin-left: 15px;
    margin-right: 15px;


}

.nm-produto{

    text-align: center;

}

.avaliacao-decimal{

    font-size: 9px !important;
    margin-bottom: 5px;


}

.linha{

    margin-top: 25px;
    margin-bottom: 15px;


}

.avaliacao-produto{

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.estrelas{

    display: flex;
    flex-direction: row;
    img{

        padding: 5px;


    }


}
